*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

nav
{
    background-color: rgb(59, 58, 58);
    color: white;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    padding: 0% 5%;
    .array-input
    {
        display: grid;
        grid-template-columns: 60% 40%;
        place-content: center;
        padding: 5% 0%;

        #size
        {
            padding: 5% 0%;
        }
        #speed
        {
            padding: 5% 0%;
        }
        #new_arr
        {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            padding: 4% 0% 0% 0%;
            padding-left: 20%;
            &:hover
            {
                cursor: pointer;
            }
        }
    }

}